extends layout

block content
  include ./partials/modal.pug
  h2 Welcome to My Website
  p This is my first Pug template!
  p You are on the homepage
  button.btn.btn-sm.btn-secondary(
    type="button",
    hx-get="/modals/login",
    hx-target="#modal-content",
    hx-indicator="#modal-content",
    hx-swap="innerHTML",
    data-bs-toggle="modal",
    data-bs-target="#modal"
  )
    Launch demo modal
